<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<app-left></app-left>
<app-main></app-main>
<app-menu></app-menu>
<app-rightsidebar></app-rightsidebar>

<router-outlet></router-outlet>
